$font-stack: "Roboto","Helvetica","Arial",sans-serif
$font-color: #000
$font-opacity: 0.95
$font-size: 1.1em
$font-weight: 400

$font-stack-light: $font-stack
$font-color-light: #FFF
$font-opacity-light: 1
$font-size-light: $font-size
$font-weight-light: $font-weight

=font-setup-dark()
	font-family: $font-stack
	color: $font-color

=font-setup-light()
	font-family: $font-stack-light
	color: $font-color-light

=font-block($weight, $size, $opacity)
	font-weight: $weight
	font-size: $size
	opacity: $opacity

body
	font-size: 100%

h1
	+font-block(300, 7.5em, $font-opacity)

h2
	+font-block(400, 4em, $font-opacity)

h3
	+font-block(400, 3em, $font-opacity)

h4
	+font-block(400, 2em, $font-opacity)

h5
	+font-block(400, 1.5em, $font-opacity)

h6
	+font-block(500, 1.25em, $font-opacity)

p,ul,table
	+font-block(400, 1.15em, $font-opacity)

a
	text-decoration: none
	color: $accent-color